= simple_form_for [:admin, @team] do |f|
  .row
    .col-sm-9
      = f.error_notification
      = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .row
    .col-sm-4
      .form-inputs
        = f.input :title
        = f.input :description
        = f.input :location, collection: Team::LOCATIONS

      .form-actions
        = f.button :submit, class: 'btn btn-primary'

    .col-sm-4.offset-1
      %h4 Actions:

      = link_to generate_supervisors_admin_team_path(quantity: 5, role: :supervisor, gender: nil), class: 'btn btn-primary', method: :post do
        Generate 5 supervisors

  .row
    .col-sm-9
      %hr