%h1 Team

.row
  .col-sm-4
    %p#notice= notice
    %p
      %strong Title:
      = @team.title
    %p
      %strong description:
      = @team.description
    %p
      %strong location:
      = @team.location

%h2 Agents List

= render_datatable @agents

%hr

%h2 Sales List

= render_datatable @sales

%hr

= link_to 'Edit', edit_admin_team_path(@team)
|
= link_to 'Back', admin_teams_path